{% extends 'base.html.twig' %}

{% block title %}Post a quack{% endblock %}

{% use 'tailwind_2_layout.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}
{# Formulaire de création d'un quack #}

{% block body %}
    <h1>New Quack</h1>
    <div>
        {{ form_start(form) }}
        <div>
            {{ form_widget(form) }}
        </div>
{#        <button type="submit">Save New Quack</button>#}
        {{ form_end(form) }}
    </div>
{% endblock %}