{% extends 'base.html.twig' %}

{% block title %}Modify your quack{% endblock %}

{% block body %}
    <div>
        <p class="quack-content">{{ quack.content }}</p>
        {#<p class="quack-author">{{ quack.user_id }}</p>#}
        <span class="quack-date">Publié le {{ quack.created_at }}</span>
    </div>
{% endblock %}