{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div>
    <h1>Feed</h1>
    <div>
        <a href="{{ path('quackquack_add') }}">New Quack</a>
    </div>
    <div>
        {% for quack in quacks %}
            <a href="">
                <article class="quack">
                    <p class="quack-content">{{ quack.content }}</p>
                    {#<p class="quack-author">{{ quack.user_id }}</p>#}
                    <span class="quack-date">Publié le {{ quack.getCreatedAt | date('Y-m-d H:i:s') }}</span>
                </article>
            </a>
        {% else %}
            <p>Aucun quack</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
