{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Feed</h1>
    <div>
        {% for quack in quacks %}
            <a href="">
                <article class="quack">
                    <h2 class="quack-title">{{ quack.title }}</h2>
                    <p class="quack-content">{{ quack.content }}</p>
                    <p class="quack-author">{{ quack.user_id }}</p>
                    <span class="quack-date">Publié le {{ quack.created_at }}</span>
                </article>
            </a>
        {% else %}
            <p>Aucun quack</p>
        {% endfor %}
    </div>
    <div>
        <button>New Quack</button>
    </div>
</div>
{% endblock %}
