{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="h-full p-4 flex flex-col justify-evenly items-center">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post" class="h-1/2 w-1/2 flex flex-col justify-evenly">
            <div class="flex flex-col">
                <label for="username">Email or Duckname:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="flex flex-col">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit">login</button>
        </form>
    </div>
{% endblock %}
