<header>
    <img src="{{ asset('QuackNetLogo.jpg') }}" alt="">
    <nav>
        <ul>
            <li><a href="{{ path('quackquack_list') }}">Home</a></li>
            <li><a href="">My Quacks</a></li>
            <li>Profile</li>
        </ul>
    </nav>
</header>